<form (ngSubmit)="updateQuantity()">
<div class="container" style="margin-top: 150px; margin-bottom: 150px;">
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Product Name</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let cart of cartArray; let i=index">
							<td data-th="Product" >
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img [src]="'http://198.211.113.201:8080' + cart.imageUrl" width="75px" height="75px" class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin">{{cart.name}}</h4>
										<p>{{cart.description}}</p>
									</div>
								</div>
							</td>
							<td data-th="Price">{{cart.price}}</td>
							<td data-th="Quantity">
								<input type="number" class="form-control text-center" [(ngModel)]="cart.quantity" name="quantity" >
							</td>
							<td data-th="Subtotal" class="text-center">{{cart.subtotal}}</td>
							<td class="actions" data-th="">
								<button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
								<button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>								
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr class="visible-xs">
							<td class="text-center"><strong>Total {{totalPrice}}</strong></td>
						</tr>
						<tr>
							<td><a href="/products/list" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total {{totalPrice}}</strong></td>
							<td><button type="submit" class="btn btn-primary btn-block" Style="width: 150px;">Calculate Total<i class="fa fa-angle-right"></i></button></td>
						</tr>
					</tfoot>
				</table>
</div>
</form>

<div class="row" style="margin-bottom: 200px;">
		<div class="col-sm-12 text-center">
			 <button class="btn btn-danger btn-md center-block" Style="width: 150px;" (click)="removeItems()" >Empty My Cart</button>
			 <div class="divider" style=" width:800px; height:auto; display:inline-block;"></div>
			 <button class="btn btn-success btn-md center-block" Style="width: 100px;" (click)="checkOut()" >Check Out </button>
		 </div>
</div>
