<div style="margin-top: 150px;">
  <div class="jumbotron">
          <h1 class="display-4">Thanks for shopping with us</h1>
          <p class="lead">The following items in your order will be shipped to you. <strong>CONFIRMATION NUMBER GHTRS85747TTSTTST&65433</strong></p>
          <hr class="my-4">
          <ul *ngFor="let item of itemsInCart"><li><strong>{{item.name}}</strong></li></ul>
          <a class="btn btn-primary btn-lg" href="/productslist" role="button">Contniue shopping</a>
  </div>
</div>
