body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.rowform{
  margin-left: 120px;
}

.titlePage{
  margin-left: 95px;
}
.productName{
  font-weight: bold;
}
.card{
  width: 18rem;
}

