<div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h1>MIAS</h1>
        <div class="list-group">
          <a href="/products/list" class="list-group-item">Evening Dresses</a>
          <a href="/products/list" class="list-group-item">Kaftan</a>
          <a href="/products/list" class="list-group-item">Kameez</a>
        </div>

      </div>

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner mt-4" role="listbox">
            <div class="carousel-item active">
              <img class="d-block" src="../../assets/images/verona.jpg" height="500px" width="500px">
            </div>
            <div class="carousel-item">
              <img class="d-block" src="../../assets/images/verona2.jpg" height="500px" width="500px">
            </div>
            <div class="carousel-item">
              <img class="d-block" src="../../assets/images/verona7.jpg" height="500px" width="500px">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="row" >
            <div class="col-md-4 mb-5" *ngFor="let product of productList">
              <div class="card h-100" >
                <img class="card-img-top" [src]="'http://198.211.113.201:8080' +product.imageUrl" alt="" width="200px" height="200px">
                <div class="card-body">
                  <h4 class="card-title">{{product.name}}</h4>
                  <p class="card-text"><strong>{{product.price}}</strong></p>
                </div>
                <div class="card-footer">
                  <a [routerLink]="['/products/' + product._id]" class="btn btn-success">Add To Cart</a>
                </div>
              </div>
            </div>
      </div>
      </div>
    </div>
</div>



 