doctype
html( lang="en" )
    head
        title Clothing Store Homepage
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Clothing Store with Jade' )
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
        link(rel='stylesheet', href='/stylesheets/style.css')
    body(style="padding-bottom:10rem;")
        nav.navbar.navbar-default( role="navigation" )
            .navbar-header
                button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#") The Number 1 Clothing Store 
 
        #navbar-inverse.collapse.navbar-collapse
            ul.nav.navbar-nav
                li.active: a( href="/") Home
                li: a( href="/products" ) Add Products
        div
            table.table.table-striped
                thead
                    tr 
                        th Name
                        th Price
                        th Description
                        th Details
                        th Edit
                        th Delete
                tbody
                    each product in listOfProducts
                        tr
                            td= product.name
                            td= product.price
                            td= product.description
                            td
                                image(src = product.imageUrl height="40" width="40" alt="Image doesn't exist")
                            td
                                a(href = "/products/" + product.name) Show Details
                            td
                                a(href = "/products/edit/" + product._id) Edit
                            td 
                                a(href = "/products/delete/" + product._id) Delete
        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
