<header class="bg-success py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">SAMI online shopping center</h1>
          <p class="lead mb-5 text-white-50">We are based in the US and Australia. Check us out for your perfect shopping experience</p>
        </div>
      </div>
    </div>
  </header>

  <div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>What We Do</h2>
        <hr>
        <p>Ever wondered why there are not many providers of clothes Muslim women around you.</p>
        <p>You don't need that trip to Dubai to shop what suites your needs. We operate all over the Americas and the Pacific. We guarantee your satisfaction without hurting your wallet</p>
        <a class="btn btn-success btn-lg" href="/products/list">Browse our store &raquo;</a>
      </div>
      <div class="col-md-4 mb-5">
        <h2>Contact Us</h2>
        <hr>
        <address>
          <strong>For your inquiries</strong>
          <br>4225 East Broad St 
          <br>Columbus, OH 43213
          <br>
        </address>
        <address>
          <abbr title="Phone">Phone:</abbr>
          (202) 840-4694
          <br>
          <abbr title="Email">Email:</abbr>
          <a href="mailto:#">tofahub@gmail.com</a>
        </address>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="../../assets/images/kaftan.jpg" alt="" width="200px" height="350px">
          <div class="card-body">
            <h4 class="card-title">Kaftan</h4>
            <p class="card-text">In this capsule collection designed specifically for the Middle East,
               Dolce & Gabbana present signature glamorous clothing and accessories glad in a white geranium 
               print.</p>
          </div>
          <div class="card-footer">
            <a href="/products/list" class="btn btn-success">Show me More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="../../assets/images/kameez.jpg" alt="" width="200px" height="350px">
          <div class="card-body">
            <h4 class="card-title">Kameez</h4>
            <p class="card-text">Shalwar kameez, is a traditional dress worn by women, and also by men, in South Asia, as well as Central Asia. Shalwars are loose pajama-like trousers. </p>
          </div>
          <div class="card-footer">
            <a href="/products/list" class="btn btn-success">Show me More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="../../assets/images/eveningDress.jpg" alt="" width="200px" height="350px">
          <div class="card-body">
            <h4 class="card-title">Evening Dress</h4>
            <p class="card-text">The product is used unlined. Long sleeve product. The Zero collar is preferred for all types of clothing. Suitable for 4 seasons</p>
          </div>
          <div class="card-footer">
            <a href="/productslist" class="btn btn-success">Show me More!</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  
