<header class="masthead  text-center">
    <div class="container">
      <img class="img-fluid mt-3 mb-4 d-block" style="border-radius: 25%;" src="../../assets/images/profile.jpg" >
    <div class="container-2">
        <h4 style="color:red; opacity: 1;"><strong>CTO/Serial Enterprenuer</strong></h4>
        <hr class="star-light">
        <h4 class="font-weight-dark mb-5" style="color:green; opacity: 1;"><strong>Tofik Mussa </strong><a href="mailto:#">tofahub@gmail.com</a></h4>
        <h4 class="font-weight-dark mb-5" style="color:red; opacity: 1;"><strong>Software Developer - POJO</strong></h4>
    </div>
    </div>
</header>


      
  